<h1>VMs</h1>
<clr-datagrid [clrDgLoading]="loadData"  [(clrDgSingleSelected)]="selected.vm">
  <!-- Action Bar -->
  <clr-dg-action-bar>
    <div class="btn-group" *permission="[Permission.Azure.VM.Operate]">
      <ng-container *ngIf="selected && selected.vm && selected.vm.id">
        <button
          type="button"
          class="btn btn-sm btn-secondary btn-outline-primary"
          [class.disabled]="selected.vm.powerState === PowerState.Running || selected.vm.powerState === PowerState.Unknown"
          (click)="onOperationClicked(PowerOperation.Start)"
        >
          <clr-icon shape="play"></clr-icon> Start
        </button>
        <button
          type="button"
          class="btn btn-sm btn-secondary btn-outline-danger"
          [class.disabled]="selected.vm.powerState !== PowerState.Running && selected.vm.powerState !== PowerState.Stopped"
          (click)="onOperationClicked(PowerOperation.Deallocate)"
        >
          <clr-icon shape="stop"></clr-icon> Deallocate
        </button>
        <clr-dropdown class="btn-group-overflow">
          <button class="btn btn-sm" [class.disabled]="selected.vm.powerState !== PowerState.Running" clrDropdownTrigger>
            <clr-icon shape="ellipsis-horizontal"></clr-icon>
            More
          </button>
          <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
            <div (click)="onOperationClicked(PowerOperation.Reboot)" [clrDisabled]="selected.vm.powerState !== PowerState.Running" clrDropdownItem>
              <clr-icon shape="refresh"></clr-icon>
              Reboot
            </div>
            <div (click)="onOperationClicked(PowerOperation.Stop)" [clrDisabled]="selected.vm.powerState !== PowerState.Running" clrDropdownItem>
              <clr-icon shape="stop"></clr-icon>
              Stop
            </div>
          </clr-dropdown-menu>
        </clr-dropdown>
        <cds-divider orientation="vertical" style="padding-left: 12px; padding-right: 12px;"></cds-divider>
      </ng-container>
      <button type="button" class="btn btn-sm" (click)="load()">
        <clr-icon shape="refresh"></clr-icon> Refresh
      </button>
    </div>
  </clr-dg-action-bar>

  <!-- Columns -->
  <clr-dg-column [clrDgField]="'computerName'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Computer Name
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'resourceGroup'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Resource Group
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'region'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Region
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'powerState'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Power
    </ng-container>
  </clr-dg-column>

  <!-- Row Data -->
  <clr-dg-row *clrDgItems="let vm of vms" [clrDgItem]="vm">
    <clr-dg-cell>{{vm.computerName}}</clr-dg-cell>
    <clr-dg-cell>{{vm.resourceGroup}}</clr-dg-cell>
    <clr-dg-cell>{{vm.region}}</clr-dg-cell>
    <clr-dg-cell>
      <span class="dot" [ngClass]="vm.powerState === PowerState.Running ? 'true' : vm.powerState.includes('ing') ? 'pending' : 'false'"></span> &nbsp;{{vm.powerState}}
    </clr-dg-cell>
  </clr-dg-row>


  <!-- Detail -->
  <ng-template clrIfDetail let-detail (clrIfDetailChange)="onDetailOpen($event)">
    <clr-dg-detail>
      <clr-dg-detail-header>VM Detail</clr-dg-detail-header>
      <clr-dg-detail-body [clrLoading]="loadData" style="padding-bottom: 16px;">
        <ng-container *ngIf="vmDetail[detail.id]; else nodata">
          <div style="margin-bottom: -20px; padding-top: 12px;">
            <button class="btn btn-info btn-sm" (click)="onDetailOpen(detail, true)">
              <clr-icon shape="refresh"></clr-icon> Refresh
            </button>
          </div>
          <table class="table table-vertical">
            <tbody>
            <tr>
              <th>Computer Name</th>
              <td>{{vmDetail[detail.id].computerName}}</td>
            </tr>
            <tr>
              <th>Subscription ID</th>
              <td>{{vmDetail[detail.id].subscriptionId}}</td>
            </tr>
            <tr>
              <th>Resource Group</th>
              <td>{{vmDetail[detail.id].resourceGroup}}</td>
            </tr>
            <tr>
              <th>Region</th>
              <td>{{vmDetail[detail.id].region}}</td>
            </tr>
            <tr>
              <th>Power State</th>
              <td>
                <span class="dot" [ngClass]="vmDetail[detail.id].powerState === PowerState.Running ? 'true' : vmDetail[detail.id].powerState.includes('ing') ? 'pending' : 'false'"></span> &nbsp;{{vmDetail[detail.id].powerState}}
              </td>
            </tr>
            <tr>
              <th>Size</th>
              <td>{{vmDetail[detail.id].size}}</td>
            </tr>
            <tr>
              <th>OS Type</th>
              <td>{{vmDetail[detail.id].osType}}</td>
            </tr>
            <tr>
              <th>IP Address</th>
              <td>{{vmDetail[detail.id].ipAddress}}</td>
            </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-template #nodata>No detail information for this VM.</ng-template>
      </clr-dg-detail-body>
    </clr-dg-detail>
  </ng-template>

  <!-- Placeholder -->
  <clr-dg-placeholder>There's no VM here.</clr-dg-placeholder>

  <!-- Footer -->
  <clr-dg-footer>
    <clr-dg-pagination #v>
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,30]">VMs per page</clr-dg-page-size>
      {{v.firstItem + 1}} - {{v.lastItem + 1}} of {{v.totalItems}} VMs
    </clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>

<app-vm-operation-confirm-modal
  *ngIf="modalOpened"
  [opened]="modalOpened"
  [selected]="selected"
  (onSubmit)="onOperationSubmit($event)"
  (onCancel)="onOperationCancelled()"
></app-vm-operation-confirm-modal>
