<h1>WebApp Insights</h1>
<!-- Search -->
<div style="margin-bottom: 24px;">
  <form class="clr-form-compact" clrForm clrLayout="horizontal">
    <clr-datalist-container>
      <label>WebApp Name</label>
      <input clrDatalistInput name="name" [(ngModel)]="query" />
      <datalist>
        <option *ngFor="let item of appNameList" [value]="item"></option>
      </datalist>
    </clr-datalist-container>
  </form>
  <button class="btn btn-primary" style="margin-top: 16px;" (click)="search()">
    <clr-icon shape="search"></clr-icon>
    Query
  </button>
</div>

<!-- Empty App List -->
<div style="margin-top: 2rem; display: flex; justify-content: center;" *ngIf="loadData || !appList.length; else list">
  <clr-spinner [clrMedium]="true" *ngIf="loadData"></clr-spinner>
  <p style="text-align: center" *ngIf="!appList.length && !loadData">No WebApps Found or Query String is Empty</p>
</div>
<!-- App List -->
<ng-template #list>
  <div class="clr-row">
    <div class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12" *ngFor="let webapp of appList">
      <app-webapp-detail-card [webapp]="webapp">
      </app-webapp-detail-card>
    </div>
  </div>
</ng-template>

