<h1>Groups</h1>
<clr-datagrid [clrDgLoading]="loadData">
  <!-- Action Bar -->
  <clr-dg-action-bar>
    <div class="btn-group" *permission="[Permission.Role.Add]">
      <button
        type="button"
        class="btn btn-sm btn-secondary btn-outline-primary"
        (click)="onAddClicked()"
      >
        <clr-icon shape="plus"></clr-icon> Add
      </button>
    </div>
  </clr-dg-action-bar>

  <!-- Columns -->
  <clr-dg-column [clrDgField]="'id'">
    <ng-container *clrDgHideableColumn="{hidden: true}">
      ID
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'name'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Name
    </ng-container>
  </clr-dg-column>
  <clr-dg-column *permission="[Permission.Role.Edit, Permission.Role.Delete]; operation: 'OR'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Action
    </ng-container>
  </clr-dg-column>

  <!-- Row Data -->
  <clr-dg-row *clrDgItems="let role of roles.data" [clrDgItem]="role">
    <clr-dg-cell>{{role.id}}</clr-dg-cell>
    <clr-dg-cell>{{role.name}}</clr-dg-cell>
    <clr-dg-cell *permission="[Permission.Role.Edit, Permission.Role.Delete]; operation: 'OR'">
      <a style="cursor: pointer" (click)="onEditClicked(role)" *permission="[Permission.Role.Edit]">Edit</a>
      <span *permission="[Permission.Role.Edit, Permission.Role.Delete]"> | </span>
      <a style="cursor: pointer" (click)="onDeleteClicked(role)" *permission="[Permission.Role.Delete]">Delete</a>
    </clr-dg-cell>

    <!-- Detail -->
    <ng-container ngProjectAs="clr-dg-row-detail" *ngIf="true">
      <clr-dg-row-detail clrIfExpanded (clrIfExpandedChange)="onDetailOpen($event, role)">
        <div [clrLoading]="loadData" *ngIf="roleDetail[role.id] && roleDetail[role.id].claims.length; else nodata">
          <div cds-layout="horizontal gap:sm">
            <cds-tag readonly *ngFor="let permission of roleDetail[role.id].claims">{{permission}}</cds-tag>
          </div>
        </div>
        <ng-template #nodata>No Permission assigned to this group.</ng-template>
      </clr-dg-row-detail>
    </ng-container>

  </clr-dg-row>

  <!-- Placeholder -->
  <clr-dg-placeholder>There's no Group</clr-dg-placeholder>

  <!-- Footer -->
  <clr-dg-footer>
    <clr-dg-pagination #groups> <!--[clrDgTotalItems]="total"-->
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,30]">Groups per page</clr-dg-page-size>
      {{groups.firstItem + 1}} - {{groups.lastItem + 1}} of {{groups.totalItems}} groups
    </clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>

<app-role-edit-modal
  *ngIf="modalOpened.edit"
  [(opened)]="modalOpened.edit"
  [role]="roleDetail[selected.id]"
  (onSubmit)="onEditSubmit($event)"
></app-role-edit-modal>

<app-role-delete-modal
  *ngIf="modalOpened.delete"
  [(opened)]="modalOpened.delete"
  [selected]="selected"
  (onSubmit)="onDeleteSubmit($event)"
></app-role-delete-modal>

<app-role-add-modal
  *ngIf="modalOpened.add"
  [(opened)]="modalOpened.add"
  (onSubmit)="onAddSubmit($event)"
></app-role-add-modal>
