<div class="login-wrapper">
  <form class="login">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      MAYO Boardroom
      <h5 class="hint" *ngIf="!isCallback && !isLoggedIn">Use your Microsoft account to sign in</h5>
      <h5 class="hint" *ngIf="isCallback">
        Hello {{params.username}},<br/>
        We're Logging you in, please wait...
      </h5>
      <h5 class="hint" *ngIf="isLoggedIn">
        We're Logging you out, please wait...
      </h5>
    </section>
    <div class="login-group" *ngIf="isCallback || isLoggedIn">
      <clr-spinner *ngIf="isCallback || isLoggedIn"></clr-spinner>
    </div>
    <div class="login-group" *ngIf="!isCallback && !isLoggedIn">
      <div class="error active" *ngIf="message">
        {{message}}
      </div>
      <clr-alert clrAlertIcon="check-circle" [clrAlertClosable]="false" clrAlertType="success" *ngIf="success">
        {{success}}
      </clr-alert>
      <button class="btn btn-outline ms-login-button" (click)="msSignIn()" [clrLoading]="submitBtnState" #msSignInBtn>
        <span><img src="./assets/logos/ms.svg" alt="microsoft logo"></span>
        Sign in with Microsoft
      </button>
    </div>
  </form>
</div>
<app-standard-alert></app-standard-alert>
