<h1>Teacher</h1>

<!-- Search -->
<div style="margin-bottom: 24px;">
  <form class="clr-form-compact" clrForm clrLayout="horizontal">
    <clr-input-container>
      <label>Search</label>
      <input placeholder="Global Search" name="global-search" [disabled]="loadData" [(ngModel)]="keyword" clrInput />
    </clr-input-container>
    <button class="btn btn-primary" [clrLoading]="loadData"  style="margin-top: 16px;" (click)="onGlobalSearchSubmit()">
      <cds-icon shape="search"></cds-icon>
      Search
    </button>
  </form>
</div>

<!-- Data List -->
<clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loadData">

  <!-- Columns -->
  <clr-dg-column [clrDgField]="'ID'">
    <ng-container *clrDgHideableColumn="{hidden: true}">
      ID
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'name'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Name
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'title'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Title
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Department
    </ng-container>
    <clr-dg-filter [clrDgFilter]="departmentFilter">
      <app-department-dg-filter #departmentFilter></app-department-dg-filter>
    </clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Qualification
    </ng-container>
    <clr-dg-filter [clrDgFilter]="qualificationFilter">
      <app-qualification-dg-filter #qualificationFilter></app-qualification-dg-filter>
    </clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'degree'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Degree
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'degreeYear'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Degree Year
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Responsibilities
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'workTypeAbbr'" clrDgSortBy>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Work Type
    </ng-container>
  </clr-dg-column>
  <clr-dg-column *permission="[Permission.ReportData.Update, Permission.ReportData.Delete]; operation: 'OR'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Action
    </ng-container>
  </clr-dg-column>

  <!-- Row Data -->
  <clr-dg-row *ngFor="let teacher of teachers!.data">
    <clr-dg-cell>{{teacher.id}}</clr-dg-cell>
    <clr-dg-cell>{{teacher.name}}</clr-dg-cell>
    <clr-dg-cell>{{teacher.title}}</clr-dg-cell>
    <clr-dg-cell>{{getDepartmentName(teacher.departmentId)}}</clr-dg-cell>
    <clr-dg-cell>{{getQualificationName(teacher.qualificationId)}}</clr-dg-cell>
    <clr-dg-cell>{{teacher.degree}}</clr-dg-cell>
    <clr-dg-cell>{{teacher.degreeYear}}</clr-dg-cell>
    <clr-dg-cell>{{teacher.responsibilities}}</clr-dg-cell>
    <clr-dg-cell>{{teacher.workTypeAbbr === 'P' ? 'Full Time (P)' : teacher.workTypeAbbr === null ? '' : 'Part Time (S)'}}</clr-dg-cell>
    <clr-dg-cell *permission="[Permission.ReportData.Update, Permission.ReportData.Delete]; operation: 'OR'">
      <a style="cursor: pointer" (click)="onEditClicked(teacher)" *permission="[Permission.ReportData.Update]">Edit</a>
      <span *permission="[Permission.ReportData.Update, Permission.ReportData.Delete]"> | </span>
      <a style="cursor: pointer" (click)="onDeleteClicked(teacher)" *permission="[Permission.ReportData.Delete]">Delete</a>
    </clr-dg-cell>
  </clr-dg-row>

  <!-- Placeholder -->
  <clr-dg-placeholder>No Teacher Found</clr-dg-placeholder>

  <!-- Footer -->
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgTotalItems]="teachers!.totalCount">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,30]">Teachers per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Teachers
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<app-edit-teacher-modal
  *ngIf="modalOpened.edit"
  [(opened)]="modalOpened.edit"
  [teacher]="teacherDetail[selected.id!]"
  (onSubmit)="onEditSubmit($event)"
></app-edit-teacher-modal>