<!-- Title -->
<h1>Failure Mails</h1>

<!-- Search Area -->
<form class="clr-form-compact" clrForm clrLayout="horizontal" [formGroup]="queryForm">
  <clr-date-container>
    <label>Start Date</label>
    <input formControlName="startDate" type="date" clrDate name="startDate" />
  </clr-date-container>
  <clr-date-container>
    <label>End Date</label>
    <input formControlName="endDate" type="date" clrDate name="endDate" />
  </clr-date-container>
  <clr-input-container>
    <label>Reason</label>
    <input formControlName="q"  clrInput type="text" name="q" />
  </clr-input-container>
  <clr-datalist-container>
    <label>Email</label>
    <input formControlName="email"  clrDatalistInput name="email" />
    <datalist>
      <option *ngFor="let item of failureMailEvents.emails" [value]="item"></option>
    </datalist>
  </clr-datalist-container>
</form>
<button class="btn btn-primary" [clrLoading]="submitBtnState()" (click)="submit()">
  <clr-icon shape="search"></clr-icon>
  Query
</button>

<!-- Data List -->
<clr-datagrid [clrDgLoading]="loadData" [(clrDgSelected)]="selected">
  <!-- Action Bar -->
  <clr-dg-action-bar>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-sm btn-secondary btn-warning-outline"
        [disabled]="!selected.length"
        (click)="openModal = true"
      >
        <clr-icon shape="close"></clr-icon> Unblock
      </button>
    </div>
  </clr-dg-action-bar>

  <!-- Columns -->
  <clr-dg-column [clrDgField]="'created'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Date
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'email'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Email
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'reason'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Reason
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'status'">
    <ng-container *clrDgHideableColumn="{hidden: true}">
      Status
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'category'">
    <ng-container *clrDgHideableColumn="{hidden: true}">
      Category
    </ng-container>
  </clr-dg-column>

  <!-- Row Data -->
  <clr-dg-row *clrDgItems="let failureMailEvent of failureMailEvents.data" [clrDgItem]="failureMailEvent">
    <clr-dg-cell>{{failureMailEvent.created*1000 | date:'short'}}</clr-dg-cell>
    <clr-dg-cell>{{failureMailEvent.email}}</clr-dg-cell>
    <clr-dg-cell>{{failureMailEvent.reason}}</clr-dg-cell>
    <clr-dg-cell>{{failureMailEvent.status}}</clr-dg-cell>
    <clr-dg-cell>{{failureMailEvent.category}}</clr-dg-cell>
  </clr-dg-row>

  <!-- Placeholder -->
  <clr-dg-placeholder>There's no failure event</clr-dg-placeholder>

  <!-- Footer -->
  <clr-dg-footer>
    <clr-dg-pagination #failureMailEvent [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,30]">Events per page</clr-dg-page-size>
      {{failureMailEvent.firstItem + 1}} - {{failureMailEvent.lastItem + 1}} of {{failureMailEvent.totalItems}} events
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<!-- Unblock Dialog -->
<clr-modal [(clrModalOpen)]="openModal" [clrModalStaticBackdrop]="false">
  <h3 class="modal-title">Confirm</h3>
  <div class="modal-body">
    <p>
      Are you sure to unblock following emails? <br><br>
      <ng-container *ngFor="let mail of unblockMails()">
        <code>{{mail}}</code><br>
      </ng-container>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="openModal = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="unblock()" [clrLoading]="submitBtnState()">Ok</button>
  </div>
</clr-modal>

