<clr-vertical-nav style="height: 100%" [clrVerticalNavCollapsible]="true" [clrVerticalNavCollapsed]="false">
  <ng-container *ngFor="let sideMenuItem of sideMenu" [ngSwitch]="!!sideMenuItem.child">
    <clr-vertical-nav-group
      *ngSwitchCase="true"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}"
    >
      <clr-icon [attr.shape]="sideMenuItem.shape" clrVerticalNavIcon></clr-icon>
      {{sideMenuItem.displayName}}

      <clr-vertical-nav-group-children>
        <ng-container
          *ngFor="let item of sideMenuItem.child"
          [ngTemplateOutlet]=sideMenuItemTemplate
          [ngTemplateOutletContext]="{
            routerLink: item.routerLink,
            permission: item.permission,
            shape: item.shape,
            displayName: item.displayName
          }"
        ></ng-container>
      </clr-vertical-nav-group-children>

    </clr-vertical-nav-group>

    <ng-container
      *ngSwitchCase="false"
      [ngTemplateOutlet]=sideMenuItemTemplate
      [ngTemplateOutletContext]="{
        routerLink: sideMenuItem.routerLink,
        permission: sideMenuItem.permission,
        shape: sideMenuItem.shape,
        displayName: sideMenuItem.displayName
      }"
    ></ng-container>

    <ng-template
      #sideMenuItemTemplate
      let-routerLink='routerLink'
      let-permission='permission'
      let-shape='shape'
      let-displayName='displayName'
    >
      <a
        routerLink="{{routerLink}}"
        clrVerticalNavLink
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        *permission="permission; operation: 'OR'"
      >
        <clr-icon clrVerticalNavIcon [attr.shape]="shape"></clr-icon>
        {{displayName}}
      </a>
    </ng-template>
  </ng-container>
</clr-vertical-nav>
