<clr-vertical-nav style="height: 100%" [clrVerticalNavCollapsible]="true" [clrVerticalNavCollapsed]="false">
  <a clrVerticalNavLink routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
    Home
  </a>
  <a *permission="[Permission.SendGrid.FailureMail.Query, Permission.SendGrid.FailureMail.Unblock]; operation: 'OR'" clrVerticalNavLink routerLink="failure-mail" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <clr-icon clrVerticalNavIcon shape="envelope"></clr-icon>
    Failure Mails
  </a>
</clr-vertical-nav>
