<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="false" [clrModalClosable]="false">
  <h3 class="modal-title">Delete</h3>
  <div class="modal-body">
    Are you sure to delete user <b>{{selected.email}}</b>?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.openedChange.emit(false)">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onSubmitClicked()" [clrLoading]="submitBtnState">Ok</button>
  </div>
</clr-modal>

