<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="false">
  <h3 class="modal-title">Edit</h3>
  <div class="modal-body">
    <form class="clr-form clr-form-horizontal" *ngIf="role" [clrLoading]="loadData">
      <!-- Id -->
      <clr-input-container>
        <label>Id</label>
        <input clrInput type="text" name="id" [(ngModel)]="role.id" [disabled]="true" />
      </clr-input-container>
      <!-- Name -->
      <clr-input-container>
        <label>Group Name</label>
        <input clrInput type="text" name="name" [(ngModel)]="role.name" />
      </clr-input-container>
      <!-- Claims -->
      <clr-checkbox-container clrInline>
        <label>Permission</label>
        <clr-checkbox-wrapper *ngFor="let p of ObjectKeys(permissions)">
          <input type="checkbox" clrCheckbox name="permissions" [(ngModel)]="permissions[p]" />
          <label>{{p}}</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.openedChange.emit(false)">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onSubmitClicked()" [clrLoading]="submitBtnState">Ok</button>
  </div>
</clr-modal>

