<div class="notification-area">
  <clr-alerts>
    <clr-alert>
      <clr-alert-item>1.1 This is my alert text</clr-alert-item>
      <clr-alert-item>1.2 This is my alert text</clr-alert-item>
    </clr-alert>
    <clr-alert [clrAlertType]="'warning'">
      <clr-alert-item>2. This is my alert text</clr-alert-item>
    </clr-alert>
    <clr-alert [clrAlertType]="'danger'">
      <clr-alert-item>3. This is my alert text</clr-alert-item>
    </clr-alert>
    <clr-alert [clrAlertType]="'success'">
      <clr-alert-item>4. This is my alert text</clr-alert-item>
    </clr-alert>
  </clr-alerts>
</div>

