<div class="alert-area" [class.without-toolbar]="paddingTop">
  <button
    class="btn btn-link btn-sm data-loading"
    *ngIf="alerts.length > 1"
    (click)="clearAlert()"
  >
    Clear All
  </button>
  <clr-alerts *ngFor="let alert of alerts" style="clear: both;">
    <clr-alert [id]="alert.uid" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" [clrAlertType]=alert.type (clrAlertClosedChange)="removeAlert(alert)">
      <clr-alert-item style="white-space: pre-line;">{{alert.message}}</clr-alert-item>
    </clr-alert>
  </clr-alerts>
</div>

