/* You can add global styles to this file, and also import other style files */
.alert-area {
  position: fixed;
  top: 64px;
  right: 24px;
  width: 45%;
  z-index: 999;
}
.data-loading {
  position: relative;
  float: right;
  overflow: auto;
}
