<h1>Course</h1>
<button class="btn btn-sm" (click)="modalOpened.collect = true" *permission="[Permission.ReportData.Import]">Get Courses</button>

<!-- Search -->
<div style="margin-bottom: 24px;">
  <form class="clr-form-compact" clrForm clrLayout="horizontal">
    <clr-input-container>
      <label>Search</label>
      <input placeholder="Global Search" name="global-search" [disabled]="loadData" [(ngModel)]="keyword" clrInput />
    </clr-input-container>
    <button class="btn btn-primary" [clrLoading]="loadData"  style="margin-top: 16px;" (click)="submit()">
      <cds-icon shape="search"></cds-icon>
      Search
    </button>
  </form>
</div>

<!-- Data List -->
<clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loadData">

  <!-- Columns -->
  <clr-dg-column [clrDgField]="'ID'">
    <ng-container *clrDgHideableColumn="{hidden: true}">
      ID
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'semester'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Semester
    </ng-container>
    <clr-dg-filter [clrDgFilter]="semesterFilter">
      <app-semester-dg-filter #semesterFilter></app-semester-dg-filter>
    </clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'code'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Code
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'name'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Name
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Department
    </ng-container>
    <clr-dg-filter [clrDgFilter]="departmentFilter">
      <app-department-dg-filter #departmentFilter></app-department-dg-filter>
    </clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Discipline
    </ng-container>
    <clr-dg-filter [clrDgFilter]="disciplineFilter">
      <app-discipline-dg-filter #disciplineFilter></app-discipline-dg-filter>
    </clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: true}">
      ImportSignatureId
    </ng-container>
  </clr-dg-column>
  <clr-dg-column *permission="[Permission.ReportData.Update, Permission.ReportData.Delete]; operation: 'OR'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Action
    </ng-container>
  </clr-dg-column>

  <!-- Row Data -->
  <clr-dg-row *ngFor="let course of courses!.data">
    <clr-dg-cell>{{course.id}}</clr-dg-cell>
    <clr-dg-cell>{{course.semester}}</clr-dg-cell>
    <clr-dg-cell>{{course.code}}</clr-dg-cell>
    <clr-dg-cell>{{course.name}}</clr-dg-cell>
    <clr-dg-cell>{{getDepartmentName(course.departmentId)}}</clr-dg-cell>
    <clr-dg-cell>{{getDisciplineName(course.disciplineId)}}</clr-dg-cell>
    <clr-dg-cell>{{course.importSignatureId}}</clr-dg-cell>
    <clr-dg-cell *permission="[Permission.ReportData.Update, Permission.ReportData.Delete]; operation: 'OR'">
      <a style="cursor: pointer" (click)="onEditClicked(course)" *permission="[Permission.ReportData.Update]">Edit</a>
      <span *permission="[Permission.ReportData.Update, Permission.ReportData.Delete]"> | </span>
      <a style="cursor: pointer" (click)="onDeleteClicked(course)" *permission="[Permission.ReportData.Delete]">Delete</a>
    </clr-dg-cell>
  </clr-dg-row>

  <!-- Placeholder -->
  <clr-dg-placeholder>No Course Found</clr-dg-placeholder>

  <!-- Footer -->
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgTotalItems]="courses!.totalCount">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,30]">Courses per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Courses
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>


<app-collect-courses-modal
  *ngIf="modalOpened.collect"
  [(opened)]="modalOpened.collect"
  (onSubmit)="onCollectSubmit($event)"
></app-collect-courses-modal>